*{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    
table{
    background-color:rgba(0, 0, 0, 0.766);
    height: 50%;
    width: 20%;
    color: aliceblue;
    border-color:black;
   
}



#ac{
    border-radius:50px ;
    border-color:brown;
    background-color:rgba(128, 128, 128, 0.2);
 
}

#ac:hover{
    color:burlywood;
}


#radius{
    border-radius: 10px;
}


#radius:hover{
    border-radius: 10px;
    color:coral
}